<section class=" bg-light">
    <div class="row justify-content-center mb-3 pb-3">
      <div class="col-md-12 text-center">
        <h4 class="mb-4">Our Products</h4>
      </div>   		
    </div>
    
    <div class="container-fluid">
      
      <div class="row" >
        <div class="col-sm-12 col-md-6 col-lg-3"  (click)="OnSelect(product)"  *ngFor="let product of productModel">
          <div class="card hoverable">
            <div class="card-image">
              <img src="{{product.img}}" >
              <a class="btn-floating halfway-fab btn-small waves-effect waves-dark deep-purple lighten-1"><i class="material-icons">favorite_border</i></a>
              <a (click)="addToCart(product._id,product.price,product.name,product.img)" class="btn-floating halfway-fab btn-small waves-effect waves-dark deep-purple lighten-1" style="right:70px;" name="productId"><i class="material-icons">shopping_cart</i></a>
            </div>
            
            <div>
              <div class="card-content">
                <span class="deep-purple-text" style="font-size: 16px;">{{product.name}}</span>
              </div>
            </div>
      
          </div>
        </div>
      
      </div>
      

    </div>


    <!-- pagenation -->
    <div class="row">
      <ul class="pagination mx-auto">
          <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
          <li class="active deep-purple lighten-1"><a href="#!">1</a></li>
          <li class="waves-effect"><a href="#!">2</a></li>
          <li class="waves-effect"><a href="#!">3</a></li>
          <li class="waves-effect"><a href="#!">4</a></li>
          <li class="waves-effect"><a href="#!">5</a></li>
          <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
      </ul>
    </div>
     
</section>