
<div class="container mx-auto" style="margin-top:100px ;border: 1px #eae0e0 solid;" >
<div class="row mt-4">
  <div class="col-6">
    <span >you have(3)  proudct in shoppin carts</span>
  </div>
  <div class="col-6">
    <button type="button" class="btn btn-secondary right">clear shopping cart</button>
  </div>
</div><hr>
<div class="list-group " class="container"  *ngFor="let order of orders">
  
    <a  class="list-group-item list-group-item-action list-group-item-info mb-4">
      <div class="row">
        <div class="col-sm-3 ">img {{order.img}}</div>
        <div class="col-sm-3">proudct</div>
        <div class="col-sm-3">price :</div>
        <div class="col-sm-3 right">
          <!--  (ngSubmit)="deletThisProduct(order._id)" -->
          <form >
          <button type="submit" class="btn text-lowercase waves-effect waves-light dark-text mt-3">delete</button>
          </form>
        </div>
      </div>
    </a>
</div>
</div>
