//first nav


<br><br><br><br>
<div  style="width: 81%; margin: 0 auto;border: 1px #eae0e0 solid;" >
<div class="row"style="height: 57px;">
  <div class="col-sm-4"><br><span style="margin-left: 37px;">you have(3)  proudct in shoppin carts</span></div>
  <div class="col-sm-8"><br><span style="margin-left: 507px;">
    <button type="button" class="btn btn-secondary">clear shopping cart</button> </span></div>
</div><hr>
<div class="list-group" class="container"  *ngFor="let order of orders" style=" margin-top: 10px;">
  
    <a  class="list-group-item list-group-item-action list-group-item-info">
      <div class="row">
        <div class="col-sm-2">{{order.id +" -- "}}</div>
        <div class="col-sm-3">proudct</div>
        <div class="col-sm-5">quintity</div>
        <div class="col-sm-2">totalPriced{{" "+order.time}}</div>
      </div>
        <!-- <h5>{{order.id +" -- "}}{{" "+order.time}}</h5> -->
    </a>
</div>
</div>
