
<div class="container-fluid">
    <div class="form">
      <form #userForm="ngForm" method="POST" novalidate (ngSubmit)="onSubmit()">
        <div class="row">
            <div class="input-field col s12">
              <input  type="email" class="validate" class="form-control" [class.is-invalid]="email.invalid && email.touched" #email="ngModel"
              required [(ngModel)]="userModel.txtmail" name="txtmail">
              <label for="email">Email</label>
            </div>
          </div>
        <div class="row">
            <div class="input-field col s12">
              <input id="password" type="password" class="validate"class="form-control" [class.is-invalid]="password.invalid && password.touched" #password="ngModel" required
              [(ngModel)]="userModel.password" name="password">
              <label for="password">Password</label>
            </div>
          </div>
          <div class="row">
            <button class="btn waves-effect waves-light amber lighten-3" type="submit" name="action"  type="submit" [disabled]="userForm.form.invalid || topicHasErr" value="Submit Form">Submit
                <i class="material-icons right">send</i>
            </button>
          </div>
      </form>
    </div>  
</div>
