<br><br><br>
<div class="container mt-4">
    <div class="row">
        <div class="col-sm-12">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs">
        <li class="nav-item display-4">
          <a class="nav-link waves-effect waves-dark purple-text purple lighten-4" data-toggle="tab" href="#addPro">Login Admin</a>
        </li>
        <li class="nav-item display-4">
          <a class="nav-link waves-effect waves-dark blue-grey-text amber lighten-3" data-toggle="tab" href="#addCateg">Login User</a>
        </li>
      </ul>
         <!-- Tab panes -->
    <div class="tab-content" >
        <div id="addPro" class="container tab-pane" style="margin-left: -10px;">
          <app-login-admin></app-login-admin>
          
        </div>
        <div id="addCateg" class="container tab-pane fade">
            <app-login-user></app-login-user>
        </div>
  
      </div>
        </div>

    </div>

    
</div>


