
<div class="container" style="margin-top:100px;">
    <div class="row">
        <div class="col-sm-12">
          <!-- Nav tabs -->
          <ul class="nav nav-tabs">
              <li class="nav-item display-4">
                <a class="nav-link waves-effect waves-dark blue-grey-text purple lighten-4" data-toggle="tab" href="#addPro">Add Product</a>
              </li>
              <li class="nav-item display-4">
                <a class="nav-link waves-effect waves-dark blue-grey-text" data-toggle="tab" href="#deletPro">Delete Product</a>
              </li>
              
            </ul>
         <!-- Tab panes -->
        <div class="tab-content" >
          <app-products-management></app-products-management>
        </div>
        </div>

    </div>

    
</div>


<!-- <router-outlet></router-outlet> -->