

<div class="container-fluid">
    <div class="form" style="width: 500px;height: 700px; margin-left: 450px;">
      <h1>User Signup</h1>
      <form #userForm="ngForm" novalidate method="POST" (ngSubmit)="onSubmit()">
        <div class="form-group row">
            <div class="input-field col s12">
                <input placeholder="Placeholder" id="first_name" type="text" class="validate"  class="form-control" [class.is-invalid]="fristname.invalid"
                #txtfname="ngModel" required [(ngModel)]="userModel.fristname" name="txtfname">
                <label for="first_name">First Name</label>
              </div>
        </div>
        <div class="form-group row">
            <div class="input-field col s12">
                <input id="last_name" type="text" class="validate" class="form-control" [class.is-invalid]="lastname.invalid" #lastname="ngModel" required
                [(ngModel)]="userModel.lastname" name="txtlname">
                <label for="last_name">Last Name</label>
              </div>
        </div>
        <div class="form-group row">
            <div class="input-field col s12">
                <input id="email" type="email" class="validate"  class="form-control" [class.is-invalid]="email.invalid" #email="ngModel"
                required [(ngModel)]="userModel.email" name="txtmail">
                <label for="email">Email</label>
              </div>
         
        </div>
        <div class="form-group row">
            <div class="input-field col s12">
                <input id="password" type="password" class="validate" class="form-control" [class.is-invalid]="password.invalid" #password="ngModel" required
                [(ngModel)]="userModel.password" name="password">
                <label for="password">Password</label>
              </div>
        </div>
        <div class="row">
            <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                <i class="material-icons right">send</i>
            </button>
          </div>    
      </form>
    </div>
  </div>
  
