

<div class="container mx-auto" style="margin-top:100px;">
    <div class="form">
      <h1>User Signup</h1>
      <form #adminForm="ngForm" method="POST" novalidate (ngSubmit)="onSubmit()">
        <div class="form-group row">
            <div class="input-field col s12">
                <input id="first_name" type="text" class="validate"  class="form-control" [class.is-invalid]="fristname.invalid && fristname.touched"
                #fristname="ngModel" required [(ngModel)]="userModel.txtfname" name="txtfname">
                <label for="first_name">First Name</label>
              </div>
        </div>
        <div class="form-group row">
            <div class="input-field col s12">
                <input id="last_name" type="text" class="validate" class="form-control" [class.is-invalid]="lastname.invalid && lastname.touched" #lastname="ngModel" required
                [(ngModel)]="userModel.txtlname" name="txtlname">
                <label for="last_name">Last Name</label>
              </div>
        </div>
        <div class="form-group row">
            <div class="input-field col s12">
                <input id="email" type="email" class="validate"  class="form-control" [class.is-invalid]="email.invalid && email.touched" #email="ngModel"
                required [(ngModel)]="userModel.txtmail" name="txtmail">
                <label for="email">Email</label>
              </div>
         
        </div>
        <div class="form-group row">
            <div class="input-field col s12">
                <input id="password" type="password" class="validate" class="form-control" [class.is-invalid]="password.invalid && password.touched" #password="ngModel" required
                [(ngModel)]="userModel.password" name="password">
                <label for="password">Password</label>
              </div>
        </div>
        <div class="row">
            <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                <i class="material-icons right">send</i>
            </button>
          </div>    
      </form>
    </div>
  </div>
  
