<div class="row amber lighten-3">
<form #catForm="ngForm" novalidate method="POST" (ngSubmit)="onSubmit()"class="col mt-4">
  <div class="row">
    <div class="input-field col">
      <i class="material-icons prefix ">mode_edit</i>
      <input type="text" id="catName" name="catName" class="validate" required #catName="ngModel" [(ngModel)]="catModel.catName" [class.is-invalid]="catName.invalid && catName.touched"/>
      <label for="name">Category Name</label>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s6">
      <i class="material-icons prefix ">description</i>
      <input type="text" class="validate" name="catDescription" #catDescription="ngModel" [(ngModel)]="catModel.catDescription"[class.is-invalid]="catDescription.invalid && catDescription.touched">
      <label for="catDescription">description</label>
    </div>
  </div>
  <button class="waves-effect waves-dark btn amber darken-4 mb-4 " type="submit" [disabled]="catForm.form.invalid" name="action">Submit
    <i class="material-icons right">send</i>
  </button>
</form>
</div>

