
<div class="row " style="margin-top: 100px;">
      
    <div class="col-sm-12 col-md-3 col-lg-3">
    <div style="width: 83%;margin: auto;border: 1px #ccc2c2 solid;padding-bottom: 13px;" >
        <div class="list-group" class="container" *ngFor="let category of categories" style=" margin-top: 10px;">
            <a  class="list-group-item list-group-item-action list-group-item-info" style="background-color:
            rgba(148, 107, 160, 0.801);">
                <span style="color:beige;">{{category.catName}}</span>
            </a>
        </div> 
    </div>
    </div>
    
        

    <div class="col-sm-12 col-md-9 col-lg-9">
       
            <app-all-products></app-all-products>
    
    </div>
   
    
  </div>

